@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TSD2491 - -Oblig1</h1>
</div>



<p>
    <a asp-controller="Loans" asp-action="Index">4a Loans</a>
</p>

<p>
    <a asp-controller="Students" asp-action="Index">Students</a>
</p>

<p>
    <a asp-controller="Devices" asp-action="Index">Devices</a>
</p>
